* { 
	font-family: arial;
}

  a {
  	color:red;
  }
  p {
  	background: #000;
  	color: white;
  	padding: 10px 0px 10px 10px;
  	width:155px ;
  	 
  }


* { 
	
	   color: red;
}

 body {
	   background-image: url("salsa.jpg");
	   background-size: 100%;

}


.secondary {
	background: #999;
	color: #323;	
}

#special {
	background: #234;
	color:#777;
}


   header h1 {
	background: #555;
	color: white;
	margin: 0;
	display: inline; 
	padding: 0px;
	width: 100px;
}

   header {
   
   	color:white;
   	padding: 0;
   }

nav ul{
	margin: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 5px 15px;
	background: #000;
	color: white;
	float: right;

} 
  nav ul li a{
  	color: yellow;
  }

body {
	margin: 10px;
}

.col {
	float: left;
	background: #333;
	padding: 20px;
	margin: 5px;
	width:50;
}

	ol{
		clear: both;
		width:50px ;
}
br {
	width: 100px;
}

footer {
	clear: both;
	padding: 0 0 100px 0;
	position: absolute;
	bottom: 0px;
	float: right;
}

p {
	border-style: dotted solid;
}

  p {
  	text-align: center;
  }

  .about-me-text{
  	text-align: center
  } 