<!doctype html>

<div id="hobbies">

  <img src="in the past.jpg" style="height:200px; width:200px;">
  	
  </img> 

	<p class="about-me-text"> HI my name is Ammar...I am 20 years from Syria .. THE life in Syria was really good and everything was going well studying meeting friends and relatives living with family .. i was happy in my life there  ... already finished high school and preparing to study (IT)  and i was really happy because my dream came true (studying IT) and to be IT expert but unfortunatly the war started in syria and everything were Foooosh..All my dreams were foiled and it's not safe anymore to live there ...there is only two choices to live in syria .. to accept that when they enforce you to join them ( Al-assad's  regime ) who is killing everyday innocent people by using all methods of torture and all kinds of weapons or they kill you because you didn't listen to them or if you was lucky they put in the prsion for the rest of your life and if your family are rich then they can give the regime alot of money to got your freedom but after that you have to leave syria ... that's why i decided to leave syria because i don't want to be in this situation  .. i went to Turkey I suffered a lot there it was very very hard for me because i wasn't speak turkish at the beginning and quite diffcult to find a job without turkish language but there is way to work with too little salary and long hours of working .. and i did that .. i was working 80 hours a week for 130TL .. working for two month after that i found another job in resturant ..Anyway i stayed there for two years of suffering after that i decided to go to eurupe for two reasons first to study IT second to looking for a better life .. i had a lot of troubles on my way to eurupe especially when i crossed the sea to Greece (THE DEATH TRIP) i saw the death with my eyes and in the eyes of the others .. but finally i did it ... and now i'm in Germany and everything getting better day by day  my dreams cooming back and i am happy for that  i hope soon  will start studying IT and be a programmer expert in the world .. finally.. hopefully one day that i can back home and see my family and freinds and build our home better than it was!
 
  </p>


</div>

