
      <ol> 
        <li>item 1 </li>
        <li>item 2 </li> 
      </ol>


 <form>

  First name:<br>
    <input type= "text" name="First name">
    </br>

  Last name:<br>
    <input type= "text" name="Last name">
    </br>

  E-mail:<br>
    <input type= "text" name="E-mail">
    </br>

  password:<br>
    <input type= "text" name="password">
    </br>

</form>


           
